@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #000;
}

.row {
    width: 90%;
    margin: 50px auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 2.5em;
    margin-bottom: 40px;
}

li {
    background: #d6d7af;
    color: #424239;
    list-style: none;
}

.l-dragbox {
    width: 350px;
    border: 1px solid #e0e0e0;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
}

.ui-state-default {
    cursor: move;
}

.l-dragbox { float: left; }
p { padding: 0.5; }