@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);

* {
    margin: 0;
    padding: 0;
}

body {
    background: #404040;
    font-size: 1em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #dedede;
}

.row {
    width: 90%;
    height: 200px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 300;
    font-size: 2.5em;
}

li {
    background: #d6d7af;
    color: #424239;
    list-style: none;
}

#draggable1 { background:#ff0000; width: 150px; height: 35px;}
#draggable2 { background:#00ff00; width: 150px; height: 35px;}
#draggable3 { background:#0000ff; width: 150px; height: 35px;}
#draggable4 { background:#ff0000; width: 150px; height: 35px;}
#draggable5 { background:#00ff00; width: 150px; height: 35px;}
#draggable6 { background:#0000ff; width: 150px; height: 35px;}

.ui-state-default {
    cursor: move;
}

#sortable > div { float: left; }
p { padding: 0.5em; }